*~
aclocal.m4
autoconf.h
autoconf.h.in
autom4te.cache/
autoscan.log
_build/
ChangeLog
config.log
config.status
configure
configure.ac
configure.scan
.deps/
echinus
echinus.man
_install/
Makefile
Makefile.in
*.o
README.echinus
scripts/
stamp-h1
.*.sw[op]
*.tar.*
_test/
tests/ewmhpanel
cscope.*
